<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>FY_Copyright</id>
<name>版权保护小工具</name>
<url>http://www.fengyan.cc</url>
<note>小工具而已，切勿依赖！</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>烽烟工作室</name>
  <email>info@fengyan.cc</email>
  <url>http://www.fengyan.cc</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>2015-04-19</pubdate>
<modified>2015-04-19</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>