<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>HK_Mouse_Fun</id>
<name>鼠标特效-好玩</name>
<url>https://www.newjianzhi.com/</url>
<note>专为您的鼠标制作一些酷酷的特效，为了好玩，也为了酷。</note>
<description>专为您的鼠标制作一些酷酷的特效，为了好玩，也为了酷。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>HaKing</name>
  <email>43649260@qq.com</email>
  <url>https://www.newjianzhi.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151740</adapted>
<version>1.0</version>
<pubdate>2017-08-29</pubdate>
<modified>2017-08-29</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>