<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>tools</id>
<name>蜘蛛地图标准协议</name>
<url>https://rongkeji.cn/</url>
<note>本sitemap地图按照标准协议编写，所以搜索引擎通吃，权重、更新频率、时间都会自动生成，严格按照优化标准生成。</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>屎驼驼.</name>
  <email>admin@rongkeji.cn</email>
  <url>https://rongkeji.cn/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>130707</adapted>
<version>1.0</version>
<pubdate>2018-05-15</pubdate>
<modified>2018-05-15</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>