<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>wmqtx</id>
<name>鼠标星星特效</name>
<url>http://www.zblog.win/zblog/25.html</url>
<note></note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>Seventeen</name>
  <email>ziyuanb@vip.qq.com</email>
  <url>http://www.zblog.win</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>2016-12-21</pubdate>
<modified>2017-01-14</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>