<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>HK_XianLiao</id>
<name>闲聊么插件</name>
<url>https://www.newjianzhi.com/</url>
<note>闲聊么，看上去很酷的，网友也喜欢，就做了。</note>
<description>闲聊么，看上去很酷的，网友也喜欢，就做了。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>HaKing</name>
  <email>43649260@qq.com</email>
  <url>https://www.newjianzhi.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151740</adapted>
<version>1.2</version>
<pubdate>2017-08-20</pubdate>
<modified>2017-08-27</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>