<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>HK_Articles_Manger_Cat</id>
<name>文章批量管理插件</name>
<url>https://www.newjianzhi.com/</url>
<note>对文章分类进行批量更改以及对文章进行批量删除操作</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>HaKing</name>
  <email>43649260@qq.com</email>
  <url>https://www.newjianzhi.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151740</adapted>
<version>1.4</version>
<pubdate>2017-07-05</pubdate>
<modified>2017-07-15</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>